@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');

.signInContainer {
    font-family: 'Hepta Slab', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.signIn {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-flow: column wrap;
   padding: 20px 40px;
   width: 30vw;
   height: 30vh;
   background: #2f86d3e9;
   color: #292929;
   border: solid 5px black;
   box-shadow: -1px 2px 3px 1px #808080a6;
}
.signIn > h3 {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px gray;
}

.userForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.userForm > * {
    margin: 5px;
    width: 240px;
}

.createUser {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

.createUser > input {
    width: 113.5px;
}

.firstName {
    margin-right: 8px;
}

.submitButton {
    width: 150px;
}

h4 {
    font-size: 20px;
    text-shadow: 1px 1px 2px gray;
}

h4:hover {
    cursor: pointer;
}